.Header{
  background-color: #007bff;
  padding: 40px 0px 40px 150px;
  color: white;
}

.SearchContainer{
  margin-top: 10%;
}
.Search{
  padding: 30px;
}

.FooterCon{
margin-top: 15%;
background-color: #007bff;
padding-top: 20px;
}

.FooterCol{
  margin: 20px;
  color: white;
}